:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.worker-image-container {
	display: flex;
	overflow: auto;
}

.worker-image {
	width: 96px;
	height: 96px;
	object-fit: none;
}

.worker-counter {
	padding: 15px;
}
