<div class="nes-container with-title rules-container">
	<p
		class="title">
		Rules
	</p>

	<mat-dialog-content>
		<h4> Welcome to the Wrike task clicker! </h4>
		<section>
			<p> In this game, you must do as many tasks as you can to win. </p>
			<p> Each click you make equals one task completed. One task gives you one point in your wallet. You can save them up and buy workers for your company and upgrades for yourself.
		</section>
		<section>
			<p> Workers will perform tasks for you every sprint (10 seconds). The number of tasks they complete is called their velocity. Yes, we have SCRUM in the clicker game. </p>
			<p> Just like in the real world, the workers won't stay with you forever. So be prepared to say goodbye to your worker after 45 minutes. </p>
		</section>
		<section>
			<p> Self-upgrades will stay with you forever. In our game, we don't implement the scenario where you don't code for a long time and forget how to iterate through an array :) </p>
			<p> Every upgrade level you buy will enhance you one click. </p>
		</section>
		<section>
			<p> Try to find the best balance to reach the maximum number of completed tasks by the end of the conference. </p>
			<p> By the way, the leaderboard can be found in the side menu in the upper right corner. </p>
		</section>
		<b> Good luck and have a good time. </b>
	</mat-dialog-content>

	<mat-dialog-actions
		class="dialog-actions">

		<button
			mat-button
			[mat-dialog-close]="true"
			type="submit"
			class="nes-btn">
			Got it
		</button>
	</mat-dialog-actions>
</div>
