<ng-container
  *ngIf="appInited">

  <menu-button (onClick)="handleMenuClick()"></menu-button>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      mode="side"
      position="end"
      [opened]="isSidenavOpened"
      class="sidenav">

      <side-menu (onDialog)="handleOpenDialog($event)"></side-menu>
    </mat-sidenav>

    <mat-sidenav-content class="container">
      <main-task class="task_main"></main-task>
      <metrics class="metrics"></metrics>
      <workers-shop class="worker_shop"></workers-shop>
      <workers-table class="workers_table"></workers-table>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
