<div class="nes-container with-title">
	<p
		class="title">
		Credits
	</p>

	<div class="credits-list">
		<div>
			Developed by

			<a href="https://www.wrike.com/"
				rel="noopener noreferrer"
				target="_blank"
				class="nes-badge">
				<span class="is-success">Wrike</span>
			</a>
		</div>

		<div>
			Sprites by
			<a href="https://limezu.itch.io/"
				rel="noopener noreferrer"
				target="_blank"
				class="nes-badge">
				<span class="is-primary">limezu</span>
			</a>
		</div>
	</div>

	<mat-dialog-actions
		class="dialog-actions">

		<button
			mat-button
			cdkFocusInitial
			[mat-dialog-close]="true"
			type="submit"
			class="nes-btn">
			Got it
		</button>
	</mat-dialog-actions>
</div>
