<div class="nes-container with-title">
	<p
		class="title">
		Leaderboard
	</p>

	<mat-dialog-content class="nes-table-responsive">
		<table class="nes-table is-bordered is-centered">
			<thead>
				<tr>
					<th>Nickname</th>
					<th>Overall tasks</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let stat of leaderboardStats">

					<td>{{stat.nickname}}</td>
					<td>{{stat.score}}</td>
				</tr>
			</tbody>
		</table>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button
			mat-button
			mat-dialog-close
			class="nes-btn">
			Close
		</button>
	</mat-dialog-actions>
</div>
